[user]
	name = Stefanie Guenther
	email = stefanie.guenther@scicomp.uni-kl.de
[alias]
	co = checkout
	ci = commit
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	st = status
[core]
	editor = vim
[push]
	default = simple
[merge]
    tool = meld
[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
   
#[diff]
#  external=/home/sguenther/diff.py
#[diff]
#	tool = /home/sguenther/diff.py
#[merge]
#	tool = vimdiff
